@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  height: 100vh;
}

img {
  width: 30%;
  margin: 1.6667%;
}

nav {
  width: 30%;
  border-bottom: 2px solid #ccc;
  font-size: 1.2em;
  padding: 1.2em 0;
  margin-left: 1.6667%;
  cursor: pointer;
  color: rgb(171, 172, 173);
}

nav:hover {
  color: azure;
  transition: all 0.6s ease-in;
}
